{% extends "blog/base.html" %}

{% block content %}
    
    <article class="media content-section">
        <img class= "rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d,Y" }}</small>
            {% if object.author == user %}
              <div>
                <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
              </div>
              
            {% endif %}
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <h5 ><a class="card-subtitle mb-2 text-muted" href="https://www.google.com/search?q={{post.book_writer}}"  target="_blank">{{ post.book_writer }} </a></h5>
          <p class="article-content">{{ object.content }}</p>

        </div>
        
      </article>
      <article class="media content-section">
        <div class="media-body">
          <h3 class="article-title">Comments....</h3>
          
          {% if not post.comments.all %}
              <br>
             <h3 class="card-subtitle mb-2 text-muted">No comments yet</h3>
             
            
          {% else %}
            {% for comment in post.comments.all %}
            <img class= "rounded-circle article-img" src="{{ comment.name.profile.image.url }}">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' comment.name.username %}">{{ comment.name }}</a>
              <small class="text-muted">{{ comment.date_posted|date:"F d,Y" }}</small>
            </div>
            <div>
            <p class="article-content">{{ comment.body }}</p>
            </div>
            {% endfor %}
          {% endif %}
          
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_comment' post.pk %}" class="link-dark">Add one</a>
      {% else %}
        <a href="{% url 'login' %}">Login To Add Comment</a>
        
      {% endif %}

      </article> 

     
      <div>
        <a href="{{ object.book.url }}" class="btn btn-outline-primary btn-lg btn-block mt-1 mb-1" download="{{ object.book }}">DOWNLOAD</a>
        <a href="{{ object.book.url }}" class="btn btn-outline-warning btn-lg btn-block mt-1 mb-1" target="_blank">READ</a>
      </div>
{% endblock content %}
rar