{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    {% if searched %}

        {% if books %}
            <h1 class="mb-3">Books by the name of {{ searched }}.</h1>
        {% for book in books %}
            <article class="media content-section">
                <img class= "rounded-circle article-img" src="{{ book.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' book.author.username %}">{{ book.author }}</a>
                        <small class="text-muted">{{ book.date_posted|date:"F d,Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' book.id%}">{{ book.title }}</a></h2>
                    <h5 ><a class="card-subtitle mb-2 text-muted" href="https://www.google.com/search?q={{book.book_writer}}"  target="_blank">{{ book.book_writer }} </a></h5>
                    <p class="article-content">{{ book.content }}</p>
                </div>
            </article>
        {% endfor %}
        {% else %}
            <h1 class="mb-3">No Books by the name of {{ searched }}.</h1>
        {% endif %}

        {%  if is_paginated %}
        
          {% if page_obj.has_previous %}
          
               <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
               <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>  
          {% endif %}
        
          {% for num in page_obj.paginator.page_range %}
          
            {% if page_obj.number == num %}
            
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a> 
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a> 
            {% endif %}
          
          {% endfor %}
          {% if page_obj.has_next %}
          
               
               <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>  
               <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
        
    
    
        {% endif %}
    {% else %}
    <h1>Hey! You Forgot To Seach Books.</h1>
    {% endif %}


{% endblock %}